/*
* @Author: yuxiaoxian
* @Date:   2017-04-08 16:54:43
* @Last Modified by:   yuxiaoxian
* @Last Modified time: 2017-04-10 13:45:11
*/
*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	 overflow-scrolling:touch;
	-webkit-user-select:none;user-select:none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-text-size-adjust: 100%;
  	text-size-adjust: 100%;
  	font-family:苹方,Helvetica;
  	list-style: none;
}
html,body{
	  	background: #F5F6FA;
}
p{
	max-height:9999999px;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
img{
		display: block;
}
a{
	display: block;
	text-decoration:none;
}
body{
	background: #F5F6FA;
}



/* head */

.head{
	width: 100%;
	height: 0.445rem;
	background: #007BE3;
	position: fixed;
	top: 0;
	z-index: 999;
}
.head li{
	width: 20%;
	height: 0.445rem;
	float: left;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.16rem;
}
.head a{
	color: white;
	/* font-family: 微软雅黑; */
}



/* banner */
.banner{
	width:100%;
	height:2rem;
	overflow: hidden;
	position: relative;
}
.banner .bannertu{
	width:100%;
	height:100%;
	background-image: url("../img/banner.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
}
.banner .box{
	width: 25%;
	height: 0.05rem;
	background: #FD8C12;
	position: absolute;
	bottom:0;
}



/* title */
.health{
	width: 100%;
	height: auto;
	padding: 0.2rem 0.1rem;
	box-sizing: border-box;
}
.health .box{
	width: 100%;
	height:0.2rem;
}
.health .aa{
	display:block;
	font-size: 0.12rem;
	color: #636263; 
	float: left;
	margin-right:0.05rem;
}
.health .box .jian{
	width: 0.1rem;
	height: 0.1rem;
	display:block;
	float: left;
	margin-top: 0.04rem;
}
.health span{
	display: block;
	font-size: 0.12rem;
	color: #636263; 
	float: left;
	margin-right:0.05rem;
}
.health .con{
	width:100%;
	height:auto;
	background:#fff;
	padding: 0.3rem 0.1rem 0 0.1rem;
	box-sizing: border-box;
}
.health .con .box1{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.health .con span{
	display: block;
	font-size: 0.12rem;
	color: #333333;
	margin-bottom: 0.1rem;
	width: 100%;
}



.health .bottom2{
	width: 100%;
	height: auto;
	margin-top: 0.05rem;
}
.health .bottom2 .p{
	font-size: 0.12rem;
	text-align: center;
	color: #767677;
}
.health .bottom3{
	width: 100%;
	height: 0.4rem;
}

.fixed{
	width: 100%;
	height:auto;
	background:#e7e7e7;
	position: fixed;
	z-index:999;
	bottom: 0;
}
.fixed .box11{
	width: 30%;
	height: 0.5rem;
	background-color: #E7E7E7;
	line-height: 0.5rem;
	float: left;
	padding:0 2%;
	box-sizing: border-box;
}
.fixed .icon-qq01{
	display: block;
	font-size:0.3rem;
	float: left;
}
.fixed .span5{
	display: block;
	font-size: 0.16rem;
	color: #797979;
	margin-top: 0.02rem;
}
.fixed .box12{
	width: 30%;
	height:0.5rem;
	background-color: #E7E7E7;
	line-height: 0.5rem;
	float:right;
	padding:0 2%;
	box-sizing: border-box;
}
.fixed .icon-duanxin2-lg{
	display: block;
	font-size:0.18rem;
	float: left;
	margin-left: 3%;
	margin-top: 0.02rem;'
}
.fixed .span7{
	display: block;
	font-size: 0.16rem;
	color: #797979;
	margin-top: 0.02rem;
	margin-left: 0.25rem;
}
.fixed .span6{
	display: block;
	font-size: 0.18rem;
	color: #797979;
	color: #fff;
	font-weight:bold;
	margin-left: 0.3rem;

}
.fixed .box13{
	width: 40%;
	height:0.45rem;
	background-color: #FF8D12;
	line-height: 0.45rem;
	float:left;
	padding:0 4%;
	box-sizing: border-box;
	border-radius: 5% 5%;
	position: absolute;
	bottom: 0.05rem;
	left: 30%;
	box-shadow:0 0 5px 5px #FF8D12;
}
.fixed .icon-dianhua-copy{
	display: block;
	font-size:0.25rem;
	float: left;
	color: #fff;
}